/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1024px; font-size: 14px; font-family: "PT Sans", sans-serif; line-height: 1.4; }

@font-face { font-family: PFAgoraSansProBlack; src: url("fonts/pfagorasanspro-black.eot"); src: url("fonts/pfagorasanspro-black.eot?#iefix") format("embedded-opentype"), url("fonts/pfagorasanspro-black.woff") format("woff"), url("fonts/pfagorasanspro-black.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ReformaGroteskDemiCRegular; src: url("fonts/reformagroteskdemic.eot"); src: url("fonts/reformagroteskdemic.eot?#iefix") format("embedded-opentype"), url("fonts/reformagroteskdemic.woff") format("woff"), url("fonts/reformagroteskdemic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.out { position: relative; background: url(../img/ill2-big.jpg) 50% 0 no-repeat; background-attachment: fixed; }

.container { position: relative; width: 1158px; margin: 0 auto; background: white; }
.container.container_index { margin-top: -142px; }

.wrapper { position: relative; width: 960px; margin: 0 auto; }

.popup-map { position: absolute; top: 29px; left: 0; border: 1px solid #ebeff1; height: 28px; padding: 10px 16px 0 49px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; font-size: 14px; color: #f47920; }
.popup-map span { display: inline-block; border-bottom: 1px dotted; }
.popup-map:hover span { border-bottom: none; }
.popup-map:before { content: ""; position: absolute; top: 2px; left: 2px; background: url('../img/icons-s1cd416dbdd.png') 0 -509px no-repeat; width: 34px; height: 34px; }

.popup-feedback { position: absolute; top: 29px; right: 0; border: 1px solid #ebeff1; height: 28px; padding: 10px 16px 0 49px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; font-size: 14px; color: #f47920; }
.popup-feedback span { display: inline-block; border-bottom: 1px dotted; }
.popup-feedback:hover span { border-bottom: none; }
.popup-feedback:before { content: ""; position: absolute; top: 2px; left: 2px; background: url('../img/icons-s1cd416dbdd.png') 0 -99px no-repeat; width: 34px; height: 34px; }

.h1, .h2 { position: relative; font-size: 34px; font-family: "PFAgoraSansProBlack", sans-serif; text-transform: uppercase; color: #231f20; text-align: center; padding-bottom: 30px; margin-bottom: 35px; }
.h1:before, .h2:before { content: ""; position: absolute; left: 50%; bottom: -4px; height: 4px; width: 73px; margin-left: -36px; background: #f47920; }

.h2 { font-family: "ReformaGroteskDemiCRegular", sans-serif; font-size: 28px; }
.h2 span { display: inline-block; border-bottom: 1px solid #f47920; line-height: 1; }

.heart { display: inline-block; background: url('../img/icons-s1cd416dbdd.png') 0 -187px no-repeat; width: 26px; height: 24px; }

.header { position: absolute; top: 0; left: 0; right: 0; height: 206px; z-index: 99; }
.header .container { background: white; }

.fixedtop { position: fixed; left: 50%; margin-left: -579px; }
.fixedtop.is-scrolled { position: absolute; }

.main-menu { padding-top: 92px; padding-bottom: 24px; }
.main-menu__list { font-size: 0; text-align: center; }
.main-menu__item { display: inline-block; vertical-align: middle; margin-left: 25px; }
.main-menu__item:first-child { margin-left: 0; }
.main-menu__item a { display: block; height: 22px; padding: 5px 14px 4px; font-size: 18px; letter-spacing: 1px; color: #231f20; font-family: "ReformaGroteskDemiCRegular", sans-serif; text-transform: uppercase; text-decoration: none; }
.main-menu__item a span { border-bottom: 1px solid #f47920; }
.main-menu__item a:hover span { border-bottom: none; }
.main-menu__item a.is-active { color: #f47920; border: 2px solid #f47920; }
.main-menu__item a.is-active span { border-bottom: none; }
.main-menu__item a.logo { position: relative; width: 100px; }
.main-menu__item a.logo i { position: absolute; left: 50%; top: -87px; margin-left: -50px; background: url('../img/icons-s1cd416dbdd.png') 0 -374px no-repeat; width: 100px; height: 125px; }

.categories { position: relative; z-index: 2; *zoom: 1; }
.categories:after { content: " "; display: table; clear: both; }
.categories.is-fixed { position: fixed; top: 0; }
.categories__item { float: left; height: 55px; line-height: 55px; width: 386px; text-align: center; background: #f47920; }
.categories__item:first-child { background: #dc6916; }
.categories__item a { text-transform: uppercase; color: white; font-family: "PFAgoraSansProBlack", sans-serif; text-decoration: none; }
.categories__item.last { background: #fb842d; }

.footer { width: 1158px; margin: 0 auto; background: #f47920; }
.footer__inner { *zoom: 1; padding: 18px 30px 0 103px; }
.footer__inner:after { content: " "; display: table; clear: both; }
.footer__left { float: left; padding-top: 60px; }
.footer__right { float: right; padding-top: 60px; }
.footer__mid { overflow: hidden; text-align: center; }
.footer__mid p { font-size: 12px; color: #643b20; }
.footer__logo { display: inline-block; margin-bottom: 8px; background: url('../img/icons-s1cd416dbdd.png') 0 -221px no-repeat; width: 113px; height: 143px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }

.main-menu_footer { padding: 25px 0; background: #d35e09; }
.main-menu_footer .main-menu__item a { color: white; }

.search { position: relative; margin-bottom: 55px; }
.search input[type="text"] { width: 190px; height: 30px; padding: 0 26px 0 16px; border-radius: 15px; background: #cd6820; color: white; }
.search input[type="text"]:-ms-input-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]:-moz-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]::-moz-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]::-webkit-input-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]::placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search button { position: absolute; top: 8px; right: 12px; background: url('../img/icons-s1cd416dbdd.png') 0 -723px no-repeat; width: 14px; height: 14px; }

.scrolltop { position: relative; display: inline-block; margin-left: 15px; font-family: "ReformaGroteskDemiCRegular", sans-serif; color: white; font-size: 20px; text-transform: uppercase; text-decoration: none; }
.scrolltop:before { content: ""; position: absolute; top: 8px; right: -22px; background: url('../img/icons-s1cd416dbdd.png') 0 -747px no-repeat; width: 14px; height: 8px; }

.design { float: right; padding-right: 68px; margin-bottom: 68px; }
.design a { position: relative; display: block; width: 65px; font-weight: bold; text-decoration: none; color: white; font-size: 11px; text-transform: uppercase; }
.design a:before { content: ""; position: absolute; top: 0px; left: -45px; background: url('../img/icons-s1cd416dbdd.png') 0 -143px no-repeat; width: 34px; height: 34px; }

.jivosite img { display: block; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.promo-switcher { position: absolute; bottom: -40px; left: 50%; width: 166px; height: 40px; margin-left: -83px; background: #70b0dd; border-top: 4px solid #6798b5; font-size: 16px; color: white; font-family: "ReformaGroteskDemiCRegular", sans-serif; -webkit-transition: bottom 200ms, opacity 200ms linear; -o-transition: bottom 200ms, opacity 200ms linear; transition: bottom 200ms, opacity 200ms linear; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; letter-spacing: 1px; text-transform: uppercase; z-index: 1; }
.promo-switcher:before { content: ""; position: absolute; bottom: -14px; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 14px 83px 0 83px; border-color: #70b0dd transparent transparent transparent; }
.promo-switcher.is-open { background: #92caf1; border-top: 4px solid #86aec6; }
.promo-switcher.is-open:before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 14px 83px 0 83px; border-color: #92caf1 transparent transparent transparent; }
.promo-switcher.is-hidden { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; bottom: 0; }

@-moz-keyframes pulse {}
@-webkit-keyframes pulse {}
@-o-keyframes pulse {}
@-ms-keyframes pulse {}
@keyframes pulse {}
.promo { position: relative; overflow: hidden; padding-top: 144px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.promo__places { position: relative; height: 400px; width: 1280px; margin: 0 auto; }
.promo__places li { position: absolute; }
.promo__point { position: relative; display: block; width: 23px; height: 23px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: white; -webkit-animation: pulse 0.5s linear infinite; -moz-animation: pulse 0.5s linear infinite; -ms-animation: pulse 0.5s linear infinite; -o-animation: pulse 0.5s linear infinite; animation: pulse 0.5s linear infinite; cursor: pointer; }
.promo__point:before { content: "+"; position: absolute; top: 0px; left: 7px; font-size: 16px; color: #f47920; }
.promo__point:hover { background: #f47920; }
.promo__point:hover:before { color: white; }
.promo__hint { position: absolute; bottom: 24px; width: 312px; left: -145px; background: white; text-decoration: none; z-index: 999; }
.promo__hint:before { content: ""; position: absolute; bottom: -15px; left: 50%; margin-left: -15px; width: 0px; height: 0px; border-style: solid; border-width: 15px 15px 0 15px; border-color: white transparent transparent transparent; }
.promo__hint img { display: block; }
.promo__hint p { text-align: center; padding: 17px 0; font-size: 18px; color: #f47920; font-weight: bold; }
.promo__place1 { top: 79%; left: -4%; }
.promo__place2 { top: 64%; left: 17%; }
.promo__place3 { top: 57%; left: 24.5%; }
.promo__place4 { top: 47%; left: 27%; }
.promo__place5 { top: 21%; left: 33%; }
.promo__place6 { top: 44%; left: 38%; }
.promo__place7 { top: 54%; left: 45%; }
.promo__place8 { top: 31%; left: 42%; }
.promo__place9 { top: 38%; left: 47%; }
.promo__place10 { top: 40%; left: 51%; }
.promo__place11 { top: 46%; left: 56%; }
.promo__place12 { top: 76%; left: 59%; }
.promo__place13 { top: 93%; left: 67%; }
.promo__place14 { top: 70%; left: 72%; }
.promo__place15 { top: 65%; left: 89%; }
.promo__place16 { top: 44%; left: 70%; }
.promo__place17 { top: 51%; left: 72%; }
.promo__place18 { top: 47%; left: 78%; }
.promo__place19 { top: 31%; left: 74%; }
.promo__place20 { top: 30%; left: 81%; }
.promo__place21 { top: 16%; left: 80%; }
.promo__place22 { top: 30%; left: 68%; }
.promo__place23 { top: 23%; left: 64%; }
.promo__place24 { top: 18%; left: 55%; }
.promo__place25 { top: 10%; left: 56%; }
.promo__place26 { top: 6%; left: 50%; }
.promo__place27 { top: 0%; left: 57%; }

.news { position: relative; z-index: 99; }
.news.is-fixed { position: fixed; top: 55px; }
.news__prev { position: absolute; top: 84px; left: -40px; width: 40px; height: 58px; background: white; -moz-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -webkit-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; cursor: pointer; }
.news__prev:hover { top: 88px; }
.news__prev:before { content: ""; position: absolute; top: 20px; left: 16px; background: url('../img/icons-s1cd416dbdd.png') 0 -583px no-repeat; width: 9px; height: 20px; }
.news__next { position: absolute; top: 84px; right: -40px; width: 40px; height: 58px; background: white; -moz-box-shadow: inset 4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -webkit-box-shadow: inset 4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; box-shadow: inset 4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; cursor: pointer; }
.news__next:hover { top: 88px; }
.news__next:before { content: ""; position: absolute; top: 20px; left: 16px; background: url('../img/icons-s1cd416dbdd.png') 0 -553px no-repeat; width: 9px; height: 20px; }
.news__item { position: relative; *zoom: 1; }
.news__item:after { content: " "; display: table; clear: both; }
.news__preview { position: relative; width: 386px; height: 225px; float: left; overflow: hidden; }
.news__preview:hover .news__img { -moz-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); }
.news__inner { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 38px 38px 28px; color: white; z-index: 2; }
.news__inner.orange { background: rgba(229, 125, 33, 0.9); }
.news__inner.yellow { background: rgba(241, 195, 15, 0.9); }
.news__inner.green { background: rgba(25, 187, 155, 0.9); }
.news__title { font-family: "ReformaGroteskDemiCRegular", sans-serif; font-size: 20px; text-transform: uppercase; text-decoration: underline; letter-spacing: 1px; white-space: normal; margin-bottom: 28px; }
.news__text { white-space: normal; height: 78px; overflow: hidden; }
.news__date { position: absolute; bottom: 28px; left: 38px; }
.news__img { position: absolute; top: 0px; left: 0; bottom: 0; right: 0; z-index: 1; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; -webkit-transition: all 400ms linear; transition: all 400ms linear; -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.news__img img { width: 100%; height: 100%; }

.benefits { padding: 78px 100px 105px; }
.benefits__text { margin-bottom: 85px; letter-spacing: 0.5px; text-align: center; line-height: 1.8; }

.about { position: relative; border: 2px solid #fec446; padding: 28px 20px 64px; }
.about__title { position: relative; top: -48px; text-align: center; font-family: "ReformaGroteskDemiCRegular", sans-serif; color: #231f20; font-size: 28px; text-transform: uppercase; }
.about__title p { display: inline-block; padding: 0 22px; line-height: 1; background: white; }
.about__title p span { display: inline-block; border-bottom: 1px solid #f47920; }
.about__list { font-size: 0; line-height: 1; text-align: center; }
.about__item { display: inline-block; width: 150px; margin: 0 10px; vertical-align: top; font-size: 16px; text-transform: uppercase; font-family: "ReformaGroteskDemiCRegular", sans-serif; line-height: 1.4; }
.about__item.violet p { color: #727ebd; }
.about__item.green p { color: #a4d062; }
.about__item.yellow p { color: #fec446; }
.about__item.pink p { color: #f37f93; }
.about__img { margin-bottom: 20px; height: 80px; font-size: 0; }
.about__more { position: absolute; bottom: -25px; left: 50%; width: 225px; height: 51px; line-height: 51px; margin-left: -112px; background: #f47920; border-bottom: 4px solid #c9641a; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; text-align: center; color: white; text-decoration: none; font-family: "PFAgoraSansProBlack", sans-serif; font-size: 11px; text-transform: uppercase; }
.about__more:hover { background: #ef6b0c; }
.about__more:active { bottom: -27px; border-bottom: 2px solid #c9641a; }

.clients { padding: 42px 20px; border-top: 1px dashed #b0b0b0; border-bottom: 1px dashed #b0b0b0; background: #fafdff; }
.clients .h2 { margin-bottom: 0; }
.clients__slider { position: relative; }
.clients__item { width: 1118px; height: 140px; line-height: 140px; vertical-align: middle; text-align: center; }
.clients__item img { display: inline-block; vertical-align: middle; margin: 0 30px; }
.clients__pager { position: absolute; bottom: -12px; left: 0; right: 0; text-align: center; }
.clients__pager span { display: inline-block; width: 12px; height: 12px; margin: 0 9px; font-size: 0; cursor: pointer; border-radius: 50%; background: #ecf0f1; }
.clients__pager span.cycle-pager-active { background: #f47920; }

.socials { padding-top: 68px; padding-bottom: 48px; }
.socials__text { position: relative; width: 470px; margin: 0 auto 50px; text-align: center; }
.socials__text a { color: #f47920; }
.socials__text a:hover { text-decoration: none; }
.socials__text:before { content: ""; position: absolute; top: -3px; left: -100px; background: url('../img/icons-s1cd416dbdd.png') 0 -613px no-repeat; width: 40px; height: 45px; }
.socials__text:after { content: ""; position: absolute; top: -3px; right: -100px; background: url('../img/icons-s1cd416dbdd.png') 0 -668px no-repeat; width: 40px; height: 45px; }
.socials__links { text-align: center; font-size: 0; margin-bottom: 65px; }
.socials__links li { display: inline-block; vertical-align: top; margin: 0 20px; }
.socials__plugin { text-align: center; }
.socials__item { display: inline-block; margin: 0 15px; vertical-align: middle; }

.vk { display: block; position: relative; width: 64px; height: 64px; line-height: 64px; background: #3477b6; font-weight: bold; color: white; font-size: 30px; text-decoration: none; }

.fb { display: block; position: relative; width: 64px; height: 64px; background: #3a589b; }
.fb:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -29px 0 0 -29px; background: url('../img/icons-s1cd416dbdd.png') 0 -30px no-repeat; width: 59px; height: 59px; }

.tw { display: block; position: relative; width: 64px; height: 64px; background: #47cbf1; }
.tw:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -29px 0 0 -29px; background: url('../img/icons-s1cd416dbdd.png') 0 -765px no-repeat; width: 59px; height: 59px; }
