/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1024px; font-size: 14px; font-family: "PT Sans", sans-serif; line-height: 1.4; letter-spacing: 1px; background: #222222 url(../img/body-bg.png); }
body.transition { background: white; }

@font-face { font-family: PFAgoraSansProBlack; src: url("fonts/pfagorasanspro-black.eot"); src: url("fonts/pfagorasanspro-black.eot?#iefix") format("embedded-opentype"), url("fonts/pfagorasanspro-black.woff") format("woff"), url("fonts/pfagorasanspro-black.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ReformaGroteskDemiCRegular; src: url("fonts/reformagroteskdemic.eot"); src: url("fonts/reformagroteskdemic.eot?#iefix") format("embedded-opentype"), url("fonts/reformagroteskdemic.woff") format("woff"), url("fonts/reformagroteskdemic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.out { position: relative; background: url(../img/ill2-big.jpg) 50% 0 no-repeat; background-attachment: fixed; -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; -moz-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); -o-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); -webkit-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.out.is-hidden { -moz-transform: scale(0.95); -ms-transform: scale(0.95); -webkit-transform: scale(0.95); transform: scale(0.95); }
@media only screen and (max-height: 900px) { .out { background-position: 50% -125px; } }

.container { position: relative; width: 1158px; margin: 0 auto; padding-top: 250px; background: white; z-index: 2; }
.container.container_index { padding-top: 0; margin-top: -142px; }
@media only screen and (max-height: 870px) { .container.container_index { margin-top: 0; } }
@media only screen and (max-width: 1280px) { .container { width: 1024px; overflow: hidden; } }

.content { padding: 0 100px; }

.wrapper { position: relative; width: 960px; margin: 0 auto; }

.popup-map { position: absolute; top: 29px; left: 0; border: 1px solid #ebeff1; height: 28px; padding: 10px 16px 0 49px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; font-size: 14px; color: #ff7a08; }
.popup-map span { display: inline-block; border-bottom: 1px dotted; }
.popup-map:hover span { border-bottom: none; }

.popup-map .coin, .popup-feedback .coin { position: absolute; top: 2px; left: 2px; width: 34px; height: 34px; -moz-perspective: 800px; -webkit-perspective: 800px; perspective: 800px; }
.popup-map .coin__inner, .popup-feedback .coin__inner { position: absolute; width: 100%; height: 100%; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.popup-map .coin__front, .popup-feedback .coin__front { position: absolute; background: url('../img/icons-sf0dfd45d3b.png') 0 -508px no-repeat; width: 34px; height: 34px; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.popup-map .coin__back, .popup-feedback .coin__back { position: absolute; background: url('../img/icons-sf0dfd45d3b.png') 0 -508px no-repeat; width: 34px; height: 34px; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
.popup-map:hover .coin__inner, .popup-feedback:hover .coin__inner { -moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.popup-feedback { position: absolute; top: 29px; right: 0; border: 1px solid #ebeff1; height: 28px; padding: 10px 16px 0 49px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; font-size: 14px; color: #ff7a08; }
.popup-feedback span { display: inline-block; border-bottom: 1px dotted; }
.popup-feedback:hover span { border-bottom: none; }
.popup-feedback .coin__front { background: url('../img/icons-sf0dfd45d3b.png') 0 -98px no-repeat; width: 34px; height: 34px; }
.popup-feedback .coin__back { background: url('../img/icons-sf0dfd45d3b.png') 0 -98px no-repeat; width: 34px; height: 34px; }

.h1, .h2 { position: relative; font-size: 34px; font-family: "PFAgoraSansProBlack", sans-serif; text-transform: uppercase; color: #231f20; text-align: center; padding-bottom: 30px; letter-spacing: 1px; margin-bottom: 35px; }
.h1:before, .h2:before { content: ""; position: absolute; left: 50%; bottom: -4px; height: 4px; width: 73px; margin-left: -36px; background: #ff7a08; }

.h2 { font-family: "ReformaGroteskDemiCRegular", sans-serif; font-size: 28px; }
.h2 a { display: inline-block; color: #231f20; text-decoration: none; border-bottom: 1px solid #ff7a08; line-height: 1; -moz-transition: all 150ms; -o-transition: all 150ms; -webkit-transition: all 150ms; transition: all 150ms; }
.h2 a:hover { color: #ff7a08; border-bottom: 1px solid white; }

.heart { display: inline-block; background: url('../img/icons-sf0dfd45d3b.png') 0 -186px no-repeat; width: 26px; height: 24px; }

.header { position: absolute; top: 0; left: 0; right: 0; height: 206px; z-index: 100; }
.header .container { background: white; }

.fixedtop { position: fixed; left: 50%; margin-left: -579px; background: white; }
@media only screen and (max-width: 1280px) { .fixedtop { margin-left: -512px; } }
.fixedtop.is-scrolled { position: absolute; }
.fixedtop.is-hidden { position: absolute; }

.main-menu { padding-top: 92px; padding-bottom: 24px; }
.main-menu__list { font-size: 0; text-align: center; }
.main-menu__item { display: inline-block; vertical-align: middle; margin-left: 20px; }
.main-menu__item:first-child { margin-left: 0; }
.main-menu__item a { display: block; height: 22px; padding: 5px 14px 4px; font-size: 18px; letter-spacing: 1px; color: #231f20; font-family: "ReformaGroteskDemiCRegular", sans-serif; text-transform: uppercase; text-decoration: none; -moz-transition: color 100ms linear; -o-transition: color 100ms linear; -webkit-transition: color 100ms linear; transition: color 100ms linear; }
.main-menu__item a span { -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; border-bottom: 1px solid #ff7a08; }
.main-menu__item a:hover { color: #ff7a08; }
.main-menu__item a:hover span { border-bottom: 1px solid white; }
.main-menu__item a.is-active { color: #ff7a08; border: 2px solid #ff7a08; }
.main-menu__item a.is-active span { border-bottom: none; }
.main-menu__item a.logo { position: relative; width: 100px; }
.main-menu__item a.logo i { position: absolute; left: 50%; top: -87px; margin-left: -50px; background: url('../img/icons-sf0dfd45d3b.png') 0 -373px no-repeat; width: 100px; height: 125px; }

.categories { position: relative; width: 1158px; margin: 0 auto; z-index: 100; *zoom: 1; }
.categories:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .categories { width: 1024px; } }
.categories.is-fixed { position: fixed; top: 0; }
.categories.is-fixed2 { position: fixed; top: 0; left: 50%; margin-left: -579px; }
@media only screen and (max-width: 1280px) { .categories.is-fixed2 { margin-left: -512px; } }
.categories__item { position: relative; float: left; width: 386px; text-align: center; background: #ff7a08; }
.categories__item.is-active:before { content: ""; position: absolute; bottom: -9px; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 9px 10px 0 10px; border-color: #ff7a08 transparent transparent transparent; }
.categories__item:first-child { background: #fa6900; }
.categories__item:first-child.is-active:before { content: ""; position: absolute; bottom: -9px; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 9px 10px 0 10px; border-color: #fa6900 transparent transparent transparent; }
@media only screen and (max-width: 1280px) { .categories__item { width: 341px; }
  .categories__item:first-child { width: 342px; } }
.categories__item a { display: block; height: 55px; line-height: 55px; text-transform: uppercase; color: white; font-family: "PFAgoraSansProBlack", sans-serif; -moz-transition: all 100ms; -o-transition: all 100ms; -webkit-transition: all 100ms; transition: all 100ms; text-decoration: none; }
.categories__item a:hover { line-height: 60px; }
.categories__item.last { background: #fb842d; }
.categories__item.last.is-active:before { content: ""; position: absolute; bottom: -9px; left: 50%; margin-left: -10px; width: 0px; height: 0px; border-style: solid; border-width: 9px 10px 0 10px; border-color: #fb842d transparent transparent transparent; }

.footer { position: relative; width: 1158px; margin: 0 auto; overflow: hidden; background: #ff7a08; z-index: 2; }
@media only screen and (max-width: 1280px) { .footer { width: 1024px; } }
.footer__inner { *zoom: 1; padding: 18px 30px 25px 103px; }
.footer__inner:after { content: " "; display: table; clear: both; }
.footer__left { float: left; padding-top: 60px; }
.footer__right { float: right; width: 232px; padding-top: 60px; }
.footer__mid { overflow: hidden; text-align: center; }
.footer__mid p { font-size: 12px; color: #643b20; }
.footer__logo { display: inline-block; margin-bottom: 8px; background: url('../img/icons-sf0dfd45d3b.png') 0 -220px no-repeat; width: 113px; height: 143px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }

.main-menu_footer { padding: 25px 0; background: #f15e00; }
.main-menu_footer .main-menu__item a { color: white; }

.search { position: relative; margin-bottom: 55px; }
.search input[type="text"] { width: 148px; height: 30px; padding: 0 26px 0 16px; border-radius: 15px; background: #e8680f; -moz-transition: background 150ms; -o-transition: background 150ms; -webkit-transition: background 150ms; transition: background 150ms; color: white; }
.search input[type="text"]:-ms-input-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]:-moz-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]::-moz-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]::-webkit-input-placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]::placeholder { color: white; font-family: "PT Sans", sans-serif; font-size: 12px; }
.search input[type="text"]:focus { background: #d05d0d; }
.search button { position: absolute; top: 8px; right: 12px; background: url('../img/icons-sf0dfd45d3b.png') 0 -722px no-repeat; width: 14px; height: 14px; }

.scrolltop { position: relative; top: 45px; display: inline-block; margin-left: 15px; font-family: "ReformaGroteskDemiCRegular", sans-serif; color: white; font-size: 20px; text-transform: uppercase; text-decoration: none; -moz-transition: all 500ms; -o-transition: all 500ms; -webkit-transition: all 500ms; transition: all 500ms; }
.scrolltop.is-visible { top: 0; }
.scrolltop:before { content: ""; position: absolute; top: 8px; right: -22px; background: url('../img/icons-sf0dfd45d3b.png') 0 -746px no-repeat; width: 14px; height: 8px; }

.design { float: right; padding-right: 68px; margin-bottom: 68px; }
.design a { position: relative; display: block; width: 65px; font-weight: bold; text-decoration: none; color: white; letter-spacing: 0; font-size: 11px; text-transform: uppercase; }
.design a:before { content: ""; position: absolute; top: 0px; left: -45px; background: url('../img/icons-sf0dfd45d3b.png') 0 -142px no-repeat; width: 34px; height: 34px; }

.jivosite img { display: block; }

.overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(45, 69, 74, 0.9); z-index: 998; }
.lteie8 .overlay { background: #2d454a; }

.popup { position: fixed; top: 170px; left: 50%; width: 960px; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; margin-left: -480px; z-index: 999; -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; -moz-transform: scale(0.8); -ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8); -moz-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); -o-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); -webkit-transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.popup__inner { background: white; }
.popup__close { position: absolute; top: -30px; right: 20px; color: white; cursor: pointer; }
.popup__close:before { content: ""; position: absolute; top: 2px; right: -20px; background: url('../img/icons-sf0dfd45d3b.png') 0 0 no-repeat; width: 16px; height: 16px; }
.popup.is-open { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; visibility: visible; -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.popup.popup_comm { position: absolute; width: 870px; margin-left: -435px; padding: 65px 90px 90px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: white; }

.route { background: #fafdff; text-align: center; padding: 24px 0; border-top: 1px dashed #b0b0b0; border-bottom: 1px dashed #b0b0b0; }
.route li { display: inline-block; vertical-align: middle; margin: 0 7px; }
.route__point { font-size: 18px; font-weight: bold; color: #231f20; }
.route__km { font-size: 18px; color: #ff7a08; }
.route__divide { width: 135px; height: 0; border-bottom: 1px dashed #ff7a08; margin: 7px 0 13px; }
.route__hint { font-size: 12px; color: #969696; }

.map { position: relative; }
.map__content { height: 450px; }
.map__title { position: absolute; top: 70px; right: 52px; width: 266px; padding: 43px 39px 60px; background: white; -moz-box-shadow: 5px 8px 29px rgba(0, 0, 1, 0.16); -webkit-box-shadow: 5px 8px 29px rgba(0, 0, 1, 0.16); box-shadow: 5px 8px 29px rgba(0, 0, 1, 0.16); z-index: 1; }
.map__title a { color: #ff7a08; }
.map__title a:hover { text-decoration: none; }
.map__adress { font-size: 18px; font-weight: bold; color: #ff7a08; margin-bottom: 15px; }
.map__gps { margin-bottom: 30px; text-transform: uppercase; font-size: 14px; color: #474747; }
.map__text { margin-bottom: 30px; }

.feedback { background: white; padding: 80px 0 100px; }
.feedback__inner { border-top: 1px dashed #b0b0b0; border-bottom: 1px dashed #b0b0b0; padding: 30px 38px; background: #fafdff; margin-bottom: 44px; }
.feedback__list { text-align: center; font-size: 0; }
.feedback__list li { display: inline-block; margin: 0 20px; color: #ff7a08; font-weight: bold; font-size: 18px; }
.feedback__phone { font-family: "ReformaGroteskDemiCRegular", sans-serif; color: #231f20; font-size: 36px; font-weight: normal; }
.feedback__bottom { text-align: center; }
.feedback__mail { font-size: 30px; font-weight: bold; letter-spacing: 1px; color: #ff7a08; }

.pagination { text-align: center; }
.pagination__list { display: inline-block; }
.pagination__item { display: inline-block; margin: 0 2px; }
.pagination__item.is-active a { background: #ff7a08; color: white; }
.pagination__item a { display: block; width: 26px; height: 26px; line-height: 26px; text-align: center; color: #454545; text-decoration: none; }
.pagination__item a:hover { background: #ff7a08; color: white; }

.transition { opacity: 0; -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear; -moz-transition-delay: 0.4s; -o-transition-delay: 0.4s; -webkit-transition-delay: 0.4s; transition-delay: 0.4s; }
.transition.is-visible { opacity: 1; }
.transition.transition1 { -moz-transition-delay: 0.8s; -o-transition-delay: 0.8s; -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }
.transition.transition2 { -moz-transition-delay: 1.2s; -o-transition-delay: 1.2s; -webkit-transition-delay: 1.2s; transition-delay: 1.2s; }
.transition.transition3 { -moz-transition-delay: 1.6s; -o-transition-delay: 1.6s; -webkit-transition-delay: 1.6s; transition-delay: 1.6s; }
.transition.transition4 { -moz-transition-delay: 2s; -o-transition-delay: 2s; -webkit-transition-delay: 2s; transition-delay: 2s; }
.transition.transition5 { -moz-transition-delay: 2.4s; -o-transition-delay: 2.4s; -webkit-transition-delay: 2.4s; transition-delay: 2.4s; }
.transition.transition6 { -moz-transition-delay: 2.8s; -o-transition-delay: 2.8s; -webkit-transition-delay: 2.8s; transition-delay: 2.8s; }
.transition.transition7 { -moz-transition-delay: 3.2s; -o-transition-delay: 3.2s; -webkit-transition-delay: 3.2s; transition-delay: 3.2s; }
.transition.transition8 { -moz-transition-delay: 3.6s; -o-transition-delay: 3.6s; -webkit-transition-delay: 3.6s; transition-delay: 3.6s; }

.preloader { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/ill1.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 999; }

.load { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/ill1.jpg) no-repeat; z-index: 1; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.promo-switcher { position: absolute; bottom: -36px; left: 50%; width: 166px; height: 40px; padding-top: 5px; margin-left: -83px; background: #40b2e0; border-top: 8px solid #3c99b6; font-size: 16px; color: white; font-family: "ReformaGroteskDemiCRegular", sans-serif; -webkit-transition: bottom 200ms, opacity 200ms, border 200ms linear; -o-transition: bottom 200ms, opacity 200ms, border 200ms linear; transition: bottom 200ms, opacity 200ms, border 200ms linear; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; letter-spacing: 1px; text-transform: uppercase; z-index: 1; }
.promo-switcher:before { content: ""; position: absolute; bottom: -14px; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 14px 83px 0 83px; border-color: #40b2e0 transparent transparent transparent; -moz-transform: rotate(0.001deg); -ms-transform: rotate(0.001deg); -webkit-transform: rotate(0.001deg); transform: rotate(0.001deg); }
.promo-switcher:hover { bottom: -40px; }
.promo-switcher.is-open { background: #72cbf3; border-top: 8px solid #6bafc6; }
.promo-switcher.is-open:before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 14px 83px 0 83px; border-color: #72cbf3 transparent transparent transparent; }
.promo-switcher.is-hidden { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; bottom: 0; }

@-moz-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@-webkit-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@-o-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@-ms-keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
@keyframes pulse { 0% { -moz-transform: scale(0.9); -ms-transform: scale(0.9); -webkit-transform: scale(0.9); transform: scale(0.9); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
  100% { -moz-transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }
.promo { position: relative; overflow: hidden; padding-top: 350px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-height: 900px) { .promo { padding-top: 225px; } }
.promo__places { position: absolute; left: 50%; margin-left: -640px; height: 400px; width: 1280px; }
.promo__places li { position: absolute; }
.promo__places li em { position: absolute; top: -3px; left: -3px; width: 100%; height: 100%; border-radius: 50%; border: 3px solid white; -webkit-animation: pulse 1.3s linear infinite; -moz-animation: pulse 1.3s linear infinite; -ms-animation: pulse 1.3s linear infinite; -o-animation: pulse 1.3s linear infinite; animation: pulse 1.3s linear infinite; }
.promo__point { position: relative; display: block; width: 10px; height: 10px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: white; cursor: pointer; }
.promo__point:hover { background: #ff7a08; }
.promo__point:hover:before { color: white; }
.promo__hint { position: absolute; bottom: 4px; width: 312px; left: -151px; padding-bottom: 20px; text-decoration: none; z-index: 999; }
.promo__hint:before { content: ""; position: absolute; bottom: 5px; left: 50%; margin-left: -15px; width: 0px; height: 0px; border-style: solid; border-width: 15px 15px 0 15px; border-color: white transparent transparent transparent; }
.promo__hint-inner { position: relative; background: white; }
.promo__hint-inner img { display: block; }
.promo__hint-inner p { text-align: center; padding: 17px 0; font-size: 18px; color: #ff7a08; font-weight: bold; }
.promo__place1 { top: 79%; left: -4%; }
.promo__place2 { top: 64%; left: 17%; }
.promo__place3 { top: 57%; left: 24.5%; }
.promo__place4 { top: 47%; left: 27%; }
.promo__place5 { top: 21%; left: 33%; }
.promo__place6 { top: 44%; left: 38%; }
.promo__place7 { top: 54%; left: 45%; }
.promo__place8 { top: 31%; left: 42%; }
.promo__place9 { top: 38%; left: 47%; }
.promo__place10 { top: 40%; left: 51%; }
.promo__place11 { top: 46%; left: 56%; }
.promo__place12 { top: 76%; left: 59%; }
.promo__place13 { top: 93%; left: 67%; }
.promo__place14 { top: 70%; left: 72%; }
.promo__place15 { top: 65%; left: 89%; }
.promo__place16 { top: 44%; left: 70%; }
.promo__place17 { top: 51%; left: 72%; }
.promo__place18 { top: 47%; left: 78%; }
.promo__place19 { top: 31%; left: 74%; }
.promo__place20 { top: 30%; left: 81%; }
.promo__place21 { top: 16%; left: 80%; }
.promo__place22 { top: 30%; left: 68%; }
.promo__place23 { top: 23%; left: 64%; }
.promo__place24 { top: 18%; left: 55%; }
.promo__place25 { top: 10%; left: 56%; }
.promo__place26 { top: 6%; left: 50%; }
.promo__place27 { top: 0%; left: 57%; }

.news { position: relative; z-index: 99; }
.news.is-fixed { position: fixed; top: 55px; }
.news__prev { position: absolute; top: 84px; left: -40px; width: 40px; height: 58px; background: white; -moz-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -webkit-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; cursor: pointer; }
.news__prev:hover { top: 88px; }
.news__prev:before { content: ""; position: absolute; top: 20px; left: 16px; background: url('../img/icons-sf0dfd45d3b.png') 0 -582px no-repeat; width: 9px; height: 20px; }
.news__next { position: absolute; top: 84px; right: -40px; width: 40px; height: 58px; background: white; -moz-box-shadow: inset 4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -webkit-box-shadow: inset 4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; box-shadow: inset 4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; cursor: pointer; }
.news__next:hover { top: 88px; }
.news__next:before { content: ""; position: absolute; top: 20px; left: 16px; background: url('../img/icons-sf0dfd45d3b.png') 0 -552px no-repeat; width: 9px; height: 20px; }
.news__item { position: relative; *zoom: 1; }
.news__item:after { content: " "; display: table; clear: both; }
.news__preview { position: relative; display: block; text-decoration: none; width: 386px; height: 225px; float: left; overflow: hidden; }
.news__preview:hover .news__title { border-bottom: none; }
.news__preview:hover .news__img { -moz-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); }
@media only screen and (max-width: 1280px) { .news__preview { width: 341px; }
  .news__preview:first-child { width: 342px; } }
.news__inner { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 38px 38px 28px; color: white; z-index: 2; }
.news__inner.orange { background: rgba(255, 122, 8, 0.9); }
.news__inner.yellow { background: rgba(255, 197, 0, 0.9); }
.news__inner.green { background: rgba(25, 187, 155, 0.9); }
.news__title { display: inline-block; font-family: "ReformaGroteskDemiCRegular", sans-serif; font-size: 20px; text-transform: uppercase; line-height: 1; letter-spacing: 1px; white-space: normal; margin-bottom: 28px; border-bottom: 1px solid white; }
.news__text { white-space: normal; height: 78px; overflow: hidden; }
.news__date { position: absolute; bottom: 28px; left: 38px; }
.news__img { position: absolute; top: 0px; left: 0; bottom: 0; right: 0; z-index: 1; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; -webkit-transition: all 400ms linear; transition: all 400ms linear; -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.news__img img { width: 100%; height: 100%; }

.benefits { padding: 78px 100px 105px; }
.benefits__text { margin-bottom: 85px; letter-spacing: 0.5px; text-align: center; line-height: 1.8; }

.about { position: relative; border: 2px solid #fec446; padding: 28px 20px 14px; }
.about__title { position: relative; top: -48px; text-align: center; font-family: "ReformaGroteskDemiCRegular", sans-serif; color: #231f20; font-size: 28px; letter-spacing: 1px; text-transform: uppercase; }
.about__title p { display: inline-block; padding: 0 22px; line-height: 1; background: white; }
.about__title p a { display: inline-block; color: #231f20; text-decoration: none; border-bottom: 1px solid #ff7a08; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; }
.about__title p a:hover { color: #ff7a08; border-bottom: 1px solid white; }
.about__list { font-size: 0; line-height: 1; text-align: center; }
.about__item { display: inline-block; width: 150px; margin: 0 10px 50px; vertical-align: top; font-size: 16px; text-transform: uppercase; font-family: "ReformaGroteskDemiCRegular", sans-serif; line-height: 1.4; }
@media only screen and (max-width: 1280px) { .about__item { margin: 0 0 50px; } }
.about__item.violet p { color: #727ebd; }
.about__item.green p { color: #a4d062; }
.about__item.yellow p { color: #fec446; }
.about__item.pink p { color: #f37f93; }
.about__item.blue p { color: #75a7d9; }
.about__item.is-visible .about__inner { -moz-transition-delay: 0.7s; -o-transition-delay: 0.7s; -webkit-transition-delay: 0.7s; transition-delay: 0.7s; -moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
.about__item.is-visible.transition1 .about__inner { -moz-transition-delay: 1s; -o-transition-delay: 1s; -webkit-transition-delay: 1s; transition-delay: 1s; }
.about__item.is-visible.transition2 .about__inner { -moz-transition-delay: 1.3s; -o-transition-delay: 1.3s; -webkit-transition-delay: 1.3s; transition-delay: 1.3s; }
.about__item.is-visible.transition3 .about__inner { -moz-transition-delay: 1.6s; -o-transition-delay: 1.6s; -webkit-transition-delay: 1.6s; transition-delay: 1.6s; }
.about__item.is-visible.transition4 .about__inner { -moz-transition-delay: 1.9s; -o-transition-delay: 1.9s; -webkit-transition-delay: 1.9s; transition-delay: 1.9s; }
.about__img { position: relative; margin-bottom: 20px; height: 80px; font-size: 0; -moz-perspective: 800px; -webkit-perspective: 800px; perspective: 800px; }
.about__inner { -moz-transition: all 0.25s linear; -o-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; transition: all 0.25s linear; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.about__front { position: absolute; left: 50%; margin-left: -38px; -moz-backface-visibility: visible; -webkit-backface-visibility: visible; backface-visibility: visible; }
.about__back { position: absolute; left: 50%; margin-left: -38px; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
.about__more { position: absolute; bottom: -25px; left: 50%; width: 225px; height: 51px; line-height: 51px; margin-left: -112px; background: #ff7a08; border-bottom: 4px solid #c9641a; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; text-align: center; color: white; text-decoration: none; letter-spacing: 1px; font-family: "PFAgoraSansProBlack", sans-serif; font-size: 11px; text-transform: uppercase; }
.about__more:hover { bottom: -29px; background: #ed6e00; }
.about__more:active { border-bottom: 2px solid #c9641a; }

.clients { padding: 42px 20px; border-top: 1px dashed #b0b0b0; border-bottom: 1px dashed #b0b0b0; background: #fafdff; }
.clients .h2 { margin-bottom: 0; }
.clients__slider { position: relative; }
.clients__item { width: 1118px; height: 140px; line-height: 140px; vertical-align: middle; text-align: center; }
@media only screen and (max-width: 1280px) { .clients__item { width: 984px; } }
.clients__item img { display: inline-block; vertical-align: middle; margin: 0 30px; }
.clients__pager { position: absolute; bottom: -12px; left: 0; right: 0; text-align: center; }
.clients__pager span { display: inline-block; width: 12px; height: 12px; margin: 0 9px; font-size: 0; cursor: pointer; border-radius: 50%; background: #ecf0f1; }
.clients__pager span.cycle-pager-active { background: #ff7a08; }

.socials { padding-top: 68px; padding-bottom: 48px; }
.socials__text { position: relative; width: 470px; margin: 0 auto 50px; text-align: center; }
.socials__text a { color: #ff7a08; }
.socials__text a:hover { text-decoration: none; }
.socials__text:before { content: ""; position: absolute; top: -3px; left: -100px; background: url('../img/icons-sf0dfd45d3b.png') 0 -612px no-repeat; width: 40px; height: 45px; }
.socials__text:after { content: ""; position: absolute; top: -3px; right: -100px; background: url('../img/icons-sf0dfd45d3b.png') 0 -667px no-repeat; width: 40px; height: 45px; }
.socials__links { text-align: center; font-size: 0; margin-bottom: 65px; }
.socials__links li { display: inline-block; vertical-align: top; margin: 0 20px; }
.socials__plugin { text-align: center; }
.socials__item { display: inline-block; margin: 0 15px; vertical-align: middle; }

.vk { display: block; position: relative; width: 64px; height: 64px; line-height: 64px; background: #3477b6; font-weight: bold; color: white; font-size: 30px; text-decoration: none; border-radius: 0; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-transition: all 400ms; transition: all 400ms; }
.vk:hover { border-radius: 50%; }

.fb { display: block; position: relative; width: 64px; height: 64px; background: #3a589b; overflow: hidden; border-radius: 0; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-transition: all 400ms; transition: all 400ms; }
.fb:hover { border-radius: 50%; }
.fb:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -16px 0 0 -11px; background: url('../img/icons-sf0dfd45d3b.png') 0 -56px no-repeat; width: 22px; height: 32px; }

.tw { display: block; position: relative; width: 64px; height: 64px; overflow: hidden; background: #47cbf1; border-radius: 0; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-transition: all 400ms; transition: all 400ms; }
.tw:hover { border-radius: 50%; }
.tw:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -13px 0 0 -13px; background: url('../img/icons-sf0dfd45d3b.png') 0 -764px no-repeat; width: 28px; height: 24px; }

.breadcrumbs { padding-bottom: 50px; text-align: center; }
.breadcrumbs ul { font-size: 0; }
.breadcrumbs__item { position: relative; display: inline-block; margin: 0 14px; font-size: 14px; }
.breadcrumbs__item:before { content: ""; position: absolute; top: 7px; left: -15px; width: 4px; height: 4px; border-radius: 4px; background: #cfcfcf; }
.breadcrumbs__item:first-child:before { display: none; }
.breadcrumbs__item a { color: #ff7a08; font-size: 14px; text-decoration: none; }
.breadcrumbs__item a:hover { text-decoration: underline; }

.submenu { text-align: center; height: 49px; margin-bottom: 50px; }
.submenu__list { display: inline-block; vertical-align: top; font-size: 0; text-align: center; border: 3px solid #231f20; background: white; }
.submenu__list.is-fixed { position: fixed; top: 73px; left: 50%; z-index: 99; }
.submenu__item { display: inline-block; margin: 0 17px; font-size: 0; }
.submenu__item a { display: block; height: 43px; overflow: hidden; line-height: 43px; font-family: "PFAgoraSansProBlack", sans-serif; font-size: 14px; color: #231f20; text-transform: uppercase; text-decoration: none; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; }
.submenu__item a:hover { color: #ff7a08; line-height: 46px; }
.submenu__item a.is-active { color: #ff7a08; }

.article { padding: 0 10%; }
.article__text { margin-bottom: 55px; text-align: center; font-size: 14px; color: #474747; line-height: 1.6; }
.article__leading { margin-bottom: 5px; font-weight: bold; font-size: 18px; }

.gallery { position: relative; overflow: hidden; height: 427px; margin-bottom: 40px; }

.slider { position: relative; margin-left: -379px; height: 427px; width: 1917px; }
@media only screen and (max-width: 1280px) { .slider { margin-left: -446px; } }

.slick-prev { position: absolute; top: 0; bottom: 0; left: 50%; width: 260px; margin-left: -579px; background: rgba(255, 255, 255, 0.7); z-index: 2; font: 0/0 a; text-shadow: none; color: transparent; }

.slick-next { position: absolute; top: 0; bottom: 0; left: 50%; width: 260px; margin-left: 319px; background: rgba(255, 255, 255, 0.7); z-index: 2; font: 0/0 a; text-shadow: none; color: transparent; }

.e-pict { padding: 16px 0 60px; text-align: center; }

.hentry__block { line-height: 1.6; color: #474747; margin-bottom: 75px; }
.hentry__block img { float: left; margin-right: 40px; margin-bottom: 40px; }
.hentry__block p { margin-bottom: 15px; }
.hentry__leading { font-size: 18px; font-weight: bold; line-height: 1.4; margin-bottom: 20px; }

.cols { *zoom: 1; }
.cols:after { content: " "; display: table; clear: both; }

.col40 { width: 40%; padding-right: 5%; float: left; }

.col60 { width: 50%; padding-right: 5%; float: left; }

.history { font-size: 0; margin-left: -7%; }
.history__item { *zoom: 1; display: inline-block; vertical-align: top; width: 26%; font-size: 14px; margin-left: 7%; }
.history__item:after { content: " "; display: table; clear: both; }
.history__item img { margin-top: 50px; float: left; margin-right: 30px; margin-bottom: 30px; }
.history__item.long { width: 93%; }
.history__year { font-size: 36px; color: #ff7a08; }

.we__title { text-align: center; font-family: "ReformaGroteskDemiCRegular", sans-serif; font-size: 28px; margin-bottom: 45px; color: #ff7a08; text-transform: uppercase; }
.we__list { font-size: 0; text-align: center; }
.we__item { display: inline-block; vertical-align: top; width: 250px; margin: 0 30px 20px; font-size: 14px; text-align: center; color: #454545; }
.we__item a { color: #ff7a08; }
.we__item a:hover { text-decoration: none; }
.we__img { display: inline-block; width: 145px; height: 145px; margin-bottom: 40px; border-radius: 50%; background: #a3a3a3; overflow: hidden; text-align: center; }
.we__img img { display: inline-block; min-width: 100%; min-height: 100%; }
.we__name { margin-bottom: 25px; font-size: 18px; font-weight: bold; color: #ff7a08; }
.we__text { margin-bottom: 20px; }
.we__phone { color: #1f191a; font-weight: bold; }

.client-list .h2 { padding-bottom: 0; }
.client-list .h2:before { display: none; }
.client-list__item { position: relative; display: inline-block; width: 182px; height: 182px; margin: 0 25px; }
@media only screen and (max-width: 1280px) { .client-list__item { margin: 0 10px; } }
.client-list__item:hover .client-list__hover { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.client-list__img { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; text-align: center; }
.client-list__img:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.client-list__img img { display: inline-block; vertical-align: middle; }
.client-list__hover { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; padding-top: 70px; font-size: 0; text-align: center; text-decoration: none; background: rgba(255, 121, 8, 0.9); -moz-transition: all 200ms linear; -o-transition: all 200ms linear; -webkit-transition: all 200ms linear; transition: all 200ms linear; -moz-transform: scale(0); -ms-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; font-size: 14px; text-transform: uppercase; font-weight: bold; color: white; }

.comm { position: relative; }
.comm__topper { position: relative; text-align: center; margin-bottom: 60px; }
.comm__info { position: absolute; top: 0; right: 0; text-align: right; }
.comm__logo { display: inline-block; line-height: 1; }
.comm__content { font-size: 14px; color: #454545; line-height: 1.7; }
.comm__content p { margin-bottom: 30px; }
.comm__leading { margin-bottom: 35px; font-size: 18px; font-weight: bold; line-height: 1.4; letter-spacing: 1px; }
.comm__prev { position: absolute; top: 50%; left: -130px; margin-top: -29px; width: 40px; height: 58px; background: white; -moz-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -webkit-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; cursor: pointer; }
.comm__prev:hover { margin-top: -24px; }
.comm__prev:before { content: ""; position: absolute; top: 20px; left: 16px; background: url('../img/icons-sf0dfd45d3b.png') 0 -582px no-repeat; width: 9px; height: 20px; }
.comm__next { position: absolute; top: 50%; right: -130px; margin-top: -29px; width: 40px; height: 58px; background: white; -moz-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -webkit-box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; box-shadow: inset -4px 0 0 #f0f6f9, 0px 4px 0px 0px #d7e1e3; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; -webkit-transition: all 150ms linear; transition: all 150ms linear; cursor: pointer; }
.comm__next:hover { margin-top: -24px; }
.comm__next:before { content: ""; position: absolute; top: 20px; left: 16px; background: url('../img/icons-sf0dfd45d3b.png') 0 -552px no-repeat; width: 9px; height: 20px; }

.sertificate { width: 940px; margin: 0 auto; overflow: hidden; }
@media only screen and (max-width: 1280px) { .sertificate { margin: 0 0 0 -54px; } }
.sertificate__inner { *zoom: 1; margin-left: -37px; margin-top: -37px; font-size: 0; }
.sertificate__inner:after { content: " "; display: table; clear: both; }
.sertificate__item { position: relative; display: inline-block; vertical-align: top; width: 450px; padding-top: 33px; padding-left: 37px; margin-bottom: 33px; border-top: 2px solid #dbe4e6; font-size: 14px; }
.sertificate__item:hover .sertificate__link { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.sertificate__topper { position: relative; height: 213px; }
.sertificate__img { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; font-size: 0; }
.sertificate__img img { width: 100%; height: 100%; }
.sertificate__link { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; padding-top: 60px; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-transition: all 300ms linear; transition: all 300ms linear; -moz-transform: scale(0); -ms-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; text-decoration: none; background: rgba(255, 121, 8, 0.9); }
.sertificate__title { text-align: center; text-transform: uppercase; color: white; line-height: 1.6; font-weight: bold; margin-bottom: 30px; }
.sertificate__price { text-align: center; font-size: 30px; color: #fcc6a7; font-weight: normal; }
.sertificate.sertificate_serv .sertificate__link { padding-top: 100px; }
.sertificate.sertificate_serv .sertificate__topper { margin-bottom: 25px; }
.sertificate__content a { display: inline-block; margin-bottom: 15px; font-size: 18px; font-weight: bold; color: #ff7a08; }
.sertificate__content a:hover { text-decoration: none; }
.sertificate__content p { color: #454545; font-size: 14px; line-height: 1.7; }

.news-list { font-size: 0; margin-left: -58px; }
.news-list__item { display: inline-block; vertical-align: top; width: 450px; margin-bottom: 60px; margin-left: 55px; }
@media only screen and (max-width: 1280px) { .news-list__item { width: 380px; } }
.news-list__item p { line-height: 1.7; margin-bottom: 20px; }
.news-list__topper { position: relative; margin-bottom: 25px; }
.news-list__topper:hover .news-list__mask { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.news-list__img { position: relative; height: 214px; font-size: 0; z-index: 2; }
@media only screen and (max-width: 1280px) { .news-list__img { height: 180px; } }
.news-list__img img { width: 100%; height: 100%; }
.news-list__mask { position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding-top: 90px; text-decoration: none; text-align: center; text-transform: uppercase; color: white; line-height: 1.6; font-size: 14px; font-weight: bold; background: rgba(255, 121, 8, 0.9); -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-transition: all 300ms linear; transition: all 300ms linear; -moz-transform: scale(0); -ms-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 2; }
.news-list__link { display: block; margin-bottom: 10px; font-size: 18px; color: #ff7a08; font-weight: bold; }
.news-list__link:hover { text-decoration: none; }
.news-list__date { font-size: 12px; color: #c5c5c5; }

.feedback_inner { padding: 0; }
.feedback_inner .feedback__inner { background: white; border-bottom: none; border-top: none; margin-bottom: 0; }
.feedback_inner .feedback__list { margin-bottom: 55px; }
@media only screen and (max-width: 1280px) { .feedback_inner .feedback__list li { margin: 0 10px; } }
.feedback_inner .route { margin: 0 -138px; }
.feedback_inner .map { margin: 0 -138px; }

.feedback_sport { padding-bottom: 0; }

.list { font-size: 0; margin-left: -5%; margin-bottom: 60px; }
.list__item { position: relative; display: inline-block; vertical-align: top; width: 45%; margin-left: 5%; margin-bottom: 20px; }
.list__number { position: absolute; top: -25px; left: -20px; font-family: "ReformaGroteskDemiCRegular", sans-serif; font-size: 100px; color: #ffe8de; font-size: 100px; line-height: 1; z-index: 1; }
.list__post { position: relative; color: #454545; font-size: 14px; background: transparent; line-height: 1.7; z-index: 2; }
.list__post p { margin-bottom: 30px; }
.list__leading { margin-bottom: 15px; font-weight: bold; font-size: 18px; line-height: 1.4; }
