// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	min-width: 1024px
	font-size: 14px 
	font-family: 'PT Sans', sans-serif
	line-height: 1.4
	letter-spacing: 1px 
	background: #222 url(../img/body-bg.png) 
	
//fonts
+font(PFAgoraSansProBlack, pfagorasanspro-black)	
=agora_b
	font-family: 'PFAgoraSansProBlack', sans-serif
+font(ReformaGroteskDemiCRegular, reformagroteskdemic)	
=reforma
	font-family: 'ReformaGroteskDemiCRegular', sans-serif		

// vars
$orange: #ff7a08

// common blocks 
.out
	position: relative
	background: url(../img/ill2-big.jpg) 50% 0 no-repeat
	background-attachment: fixed
	-webkit-transform-origin: 50% 50%
	-moz-transform-origin: 50% 50%
	-ms-transform-origin: 50% 50%
	-o-transform-origin: 50% 50%
	transform-origin: 50% 50%
	+transition(0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940))
	&.is-hidden
		+transform(scale(0.95))
	+r(h900)	
		background-position: 50% -125px
.container
	position: relative
	width: 1158px
	margin: 0 auto
	padding-top: 250px 
	background: #fff
	&.container_index
		padding-top: 0
		margin-top: -142px
		+r(h870)
			margin-top: 0
	+r(w1280)
		width: 1024px
		overflow: hidden
.content
	padding: 0 100px 		
.wrapper
	position: relative
	width: 960px
	margin: 0 auto 
.popup-map
	position: absolute
	top: 29px
	left: 0
	border: 1px solid #ebeff1
	height: 28px
	padding: 10px 16px 0 49px  
	+border-radius(20px)
	font-size: 14px
	color: $orange
	span
		display: inline-block
		border-bottom: 1px dotted
	&:hover
		span
			border-bottom: none
.popup-map, .popup-feedback					
	.coin
		position: absolute
		top: 2px
		left: 2px
		width: 34px
		height: 34px
		+perspective(800px)
		&__inner
			position: absolute
			width: 100%
			height: 100%
			+transition(all .2s linear)
			+transform-style(preserve-3d)
			+gpu
		&__front
			position: absolute
			+s(marker)
			+backface-visibility(hidden)
		&__back
			position: absolute
			+s(marker) 
			+backface-visibility(hidden)
			+rotateY(180deg)
	&:hover
		.coin
			&__inner
				+rotateY(180deg)			
.popup-feedback
	position: absolute	
	top: 29px
	right: 0
	border: 1px solid #ebeff1
	height: 28px
	padding: 10px 16px 0 49px  
	+border-radius(20px)
	font-size: 14px
	color: $orange
	span
		display: inline-block
		border-bottom: 1px dotted
	&:hover
		span
			border-bottom: none	 	
	.coin
		&__front
			+s(feedback)
		&__back
			+s(feedback)
.h1, .h2
	position: relative
	font-size: 34px
	+agora_b
	text-transform: uppercase
	color: #231f20
	text-align: center		
	padding-bottom: 30px
	letter-spacing: 1px 
	margin-bottom: 35px 
	&:before
		content: ""
		position: absolute
		left: 50%
		bottom: -4px
		height: 4px
		width: 73px
		margin-left: -36px 
		background: $orange
.h2
	+reforma
	font-size: 28px
	a
		display: inline-block
		color: #231f20
		text-decoration: none
		border-bottom: 1px solid $orange
		line-height: 1
		+transition(all 150ms)
		&:hover
			color: $orange
			border-bottom: 1px solid #fff 
.heart
	display: inline-block
	+s(heart)	

// header
.header
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 206px
	z-index: 100
	.container
		background: #fff 
.fixedtop
	position: fixed
	left: 50%
	margin-left: -579px
	background: #fff 
	+r(w1280)	
		margin-left: -512px 
	&.is-scrolled
		position: absolute
	&.is-hidden
		position: absolute	
	
// menu
.main-menu
	padding-top: 92px
	padding-bottom: 24px
	&__list
		font-size: 0
		text-align: center
	&__item
		display: inline-block
		vertical-align: middle
		margin-left: 20px
		&:first-child	
			margin-left: 0
		a
			display: block
			height: 22px
			padding: 5px 14px 4px 
			font-size: 18px
			letter-spacing: 1px 
			color: #231f20
			+reforma
			text-transform: uppercase
			text-decoration: none
			+transition(color 100ms linear)
			span
				+transition(all 150ms linear)
				border-bottom: 1px solid $orange
			&:hover
				color: $orange
				span
					border-bottom: 1px solid #fff 	 
			&.is-active
				color: $orange
				border: 2px solid $orange
				span
					border-bottom: none
			&.logo
				position: relative
				
				width: 100px
				i
					position: absolute
					left: 50%
					top: -87px
					margin-left: -50px
					+s(logo)		 			
     
.categories
	position: relative
	width: 1158px
	margin: 0 auto 
	z-index: 100
	+clr
	+r(w1280)
		width: 1024px 
	&.is-fixed
		position: fixed
		top: 0
	&.is-fixed2
		position: fixed
		top: 0
		left: 50%
		margin-left: -579px
		+r(w1280)
			margin-left: -512px	
	&__item
		position: relative
		float: left
		width: 386px      
		text-align: center 
		background: $orange
		&.is-active
			&:before
				content: ""
				position: absolute
				bottom: -9px
				left: 50%
				margin-left: -10px
				+arr(20, 9, $orange, b)
		&:first-child
			background: #fa6900
			&.is-active
				&:before
					content: ""
					position: absolute
					bottom: -9px
					left: 50%
					margin-left: -10px
					+arr(20, 9, #fa6900, b) 
		+r(w1280)
			width: 341px
			&:first-child
				width: 342px 	 
		a
			display: block
			height: 55px
			line-height: 55px
			text-transform: uppercase
			color: #fff
			+agora_b
			+transition(all 100ms)
			text-decoration: none
			&:hover
				line-height: 60px
		&.last
			background: #fb842d
			&.is-active
				&:before
					content: ""
					position: absolute
					bottom: -9px
					left: 50%
					margin-left: -10px
					+arr(20, 9, #fb842d, b)
			

// footer
.footer
	width: 1158px
	margin: 0 auto
	overflow: hidden
	background: $orange
	+r(w1280)
		width: 1024px
	&__inner
		+clr
		padding: 18px 30px 25px 103px
	&__left
		float: left
		padding-top: 60px
	&__right
		float: right
		width: 232px
		padding-top: 60px
	&__mid
		overflow: hidden
		text-align: center
		p
			font-size: 12px
			color: #643b20 
	&__logo
		display: inline-block
		margin-bottom: 8px
		+s(logo-footer)
		+opacity(.9)			   
.main-menu_footer
	padding: 25px 0
	background: #f15e00
	.main-menu__item
		a
			color: #fff
.search
	position: relative
	margin-bottom: 55px
	input[type="text"]
		width: 148px
		height: 30px
		padding: 0 26px 0 16px 
		border-radius: 15px
		background: #e8680f
		+transition(background 150ms)
		color: #fff
		+placeholder
			color: #fff
			font-family: 'PT Sans', sans-serif
			font-size: 12px
		&:focus
			background: darken(#e8680f, 5%) 	
	button
		position: absolute
		top: 8px
		right: 12px
		+s(search)
.scrolltop
	position: relative
	top: 45px
	display: inline-block
	margin-left: 15px
	+reforma
	color: #fff
	font-size: 20px
	text-transform: uppercase
	text-decoration: none
	+transition(all 500ms)
	&.is-visible
		top: 0
	&:before
		content: ""
		position: absolute
		top: 8px
		right: -22px
		+s(top)
.design
	float: right						   
	padding-right: 68px
	margin-bottom: 68px
	a
		position: relative
		display: block
		width: 65px
		font-weight: bold
		text-decoration: none
		color: #fff
		letter-spacing: 0 
		font-size: 11px
		text-transform: uppercase
		&:before
			content: ""
			position: absolute 
			top: 0px
			left: -45px
			+s(flex)
.jivosite
	img
		display: block
		
// popup
.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(#2d454a, 0.9)
	z-index: 998
	.lteie8 &
		background: #2d454a 
.popup
	position: fixed
	top: 170px
	left: 50%
	width: 960px
	visibility: hidden
	+opacity(0)
	margin-left: -480px
	z-index: 999
	-webkit-transform-origin: 50% 50%
	-moz-transform-origin: 50% 50%
	-ms-transform-origin: 50% 50%
	-o-transform-origin: 50% 50%
	transform-origin: 50% 50%
	+transform(scale(0.8))
	+transition(0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940))
	&__inner
		background: #fff 	
	&__close
		position: absolute
		top: -30px
		right: 20px
		color: #fff
		cursor: pointer
		&:before
			content: ""
			position: absolute
			top: 2px
			right: -20px
			+s(close)
	&.is-open
		+opacity(1)
		visibility: visible
		+transform(scale(1))
	&.popup_comm
		position: absolute
		width: 870px
		margin-left: -435px
		padding: 65px 90px 90px
		+box
		background: #fff   					  
.route
	background: #fafdff
	text-align: center
	padding: 24px 0
	border-top: 1px dashed #b0b0b0
	border-bottom: 1px dashed #b0b0b0  
	li
		display: inline-block
		vertical-align: middle
		margin: 0 7px 
	&__point
		font-size: 18px
		font-weight: bold
		color: #231f20
	&__km
		font-size: 18px
		color: $orange
	&__divide
		width: 135px
		height: 0
		border-bottom: 1px dashed $orange
		margin: 7px 0 13px
	&__hint
		font-size: 12px
		color: #969696
.map
	position: relative
	&__content
		height: 450px
	&__title
		position: absolute
		top: 70px
		right: 52px
		width: 266px
		padding: 43px 39px 60px  
		background: #fff
		+box-shadow(5px 8px 29px rgba(0,0,1,.16))
		z-index: 1
		a
			color: $orange
			&:hover
				text-decoration: none
	&__adress
		font-size: 18px
		font-weight: bold
		color: $orange
		margin-bottom: 15px
	&__gps
		margin-bottom: 30px
		text-transform: uppercase
		font-size: 14px
		color: #474747
	&__text
		margin-bottom: 30px
.feedback
	background: #fff
	padding: 80px 0 100px 			
	&__inner
		border-top: 1px dashed #b0b0b0
		border-bottom: 1px dashed #b0b0b0
		padding: 30px 38px 
		background: #fafdff
		margin-bottom: 44px 
	&__list
		text-align: center
		font-size: 0
		li
			display: inline-block
			margin: 0 20px
			color: $orange
			font-weight: bold
			font-size: 18px 
	&__phone
		+reforma
		color: #231f20
		font-size: 36px
		font-weight: normal
	&__bottom
		text-align: center	 	
	&__mail
		font-size: 30px
		font-weight: bold
		letter-spacing: 1px
		color: $orange

// pagination
.pagination
	text-align: center
	&__list
		display: inline-block
	&__item	
		display: inline-block
		margin: 0 2px
		&.is-active
			a
				background: $orange
				color: #fff  
		a
			display: block
			width: 26px
			height: 26px
			line-height: 26px
			text-align: center
			color: #454545
			text-decoration: none
			&:hover
				background: $orange
				color: #fff
.opacity
	opacity: 0
	+transition(all .4s linear)
	+transition-delay(.4s)
	&.is-visible
		opacity: 1
	&.opacity1
		+transition-delay(.7s)
	&.opacity2
		+transition-delay(1s)
	&.opacity3
		+transition-delay(1.3s)
	&.opacity4
		+transition-delay(1.6s)
	&.opacity5
		+transition-delay(1.9s)
	&.opacity6
		+transition-delay(2.2s)
	&.opacity7
		+transition-delay(2.5s)
	&.opacity8
		+transition-delay(2.8s)													 
		
						
		
			 		  	

		
		 
	