// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	min-width: 1024px
	font-size: 14px 
	font-family: 'PT Sans', sans-serif
	line-height: 1.4
//fonts
+font(PFAgoraSansProBlack, pfagorasanspro-black)	
=agora_b
	font-family: 'PFAgoraSansProBlack', sans-serif
+font(ReformaGroteskDemiCRegular, reformagroteskdemic)	
=reforma
	font-family: 'ReformaGroteskDemiCRegular', sans-serif		

// vars
$orange: #f47920

// common blocks 
.out
	position: relative
	background: url(../img/ill2-big.jpg) 50% 0 no-repeat
	background-attachment: fixed
.container
	position: relative
	width: 1158px
	margin: 0 auto 
	background: #fff
	&.container_index
		margin-top: -142px  	
.wrapper
	position: relative
	width: 960px
	margin: 0 auto 
.popup-map
	position: absolute
	top: 29px
	left: 0
	border: 1px solid #ebeff1
	height: 28px
	padding: 10px 16px 0 49px  
	+border-radius(20px)
	font-size: 14px
	color: $orange
	span
		display: inline-block
		border-bottom: 1px dotted
	&:hover
		span
			border-bottom: none
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 2px
		+s(marker)
.popup-feedback
	position: absolute	
	top: 29px
	right: 0
	border: 1px solid #ebeff1
	height: 28px
	padding: 10px 16px 0 49px  
	+border-radius(20px)
	font-size: 14px
	color: $orange
	span
		display: inline-block
		border-bottom: 1px dotted
	&:hover
		span
			border-bottom: none 	
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 2px
		+s(feedback)
.h1, .h2
	position: relative
	font-size: 34px
	+agora_b
	text-transform: uppercase
	color: #231f20
	text-align: center		
	padding-bottom: 30px
	margin-bottom: 35px 
	&:before
		content: ""
		position: absolute
		left: 50%
		bottom: -4px
		height: 4px
		width: 73px
		margin-left: -36px 
		background: $orange
.h2
	+reforma
	font-size: 28px
	span
		display: inline-block
		border-bottom: 1px solid $orange
		line-height: 1 
.heart
	display: inline-block
	+s(heart)	

// header
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 99
	.container
		background: #fff 
.fixedtop-1
	position: fixed
	left: 50%
	margin-left: -579px 
.fixedtop-2
	position: fixed
	top: 151px
	left: 50%
	margin-left: -579px
	
// menu
.main-menu
	padding-top: 92px
	padding-bottom: 24px
	&__list
		font-size: 0
		text-align: center
	&__item
		display: inline-block
		vertical-align: middle
		margin-left: 39px
		&:first-child	
			margin-left: 0
		a
			display: block
			height: 22px
			padding: 5px 14px 4px 
			font-size: 18px
			color: #231f20
			+reforma
			text-transform: uppercase
			text-decoration: none
			span
				border-bottom: 1px solid $orange
			&:hover
				span
					border-bottom: none 	 
			&.is-active
				color: $orange
				border: 2px solid $orange
				span
					border-bottom: none
			&.logo
				position: relative
				
				width: 100px
				i
					position: absolute
					left: 50%
					top: -87px
					margin-left: -50px
					+s(logo)		 			
     
.categories
	+clr
	&__item
		float: left
		height: 55px
		line-height: 55px
		width: 386px      
		text-align: center 
		background: $orange
		&:first-child
			background: #dc6916 
		a
			text-transform: uppercase
			color: #fff
			+agora_b
			text-decoration: none
		&.last
			background: #fb842d 	