// about page styles
.breadcrumbs
    padding-bottom: 50px 
    text-align: center
    ul
        font-size: 0
    &__item
        position: relative
        display: inline-block
        margin: 0 14px
        font-size: 14px
        &:before
            content: ""
            position: absolute
            top: 7px
            left: -15px
            width: 4px
            height: 4px
            border-radius: 4px
            background: #cfcfcf
        &:first-child
            &:before
                display: none      
        a
            color: $orange
            font-size: 14px
            text-decoration: none
            &:hover
                text-decoration: underline
.submenu
    text-align: center
    margin-bottom: 50px 
    &__list
        display: inline-block
        font-size: 0
        text-align: center
        border: 3px solid #231f20
    &__item
        display: inline-block
        margin: 0 17px 
        font-size: 14px
        a
            display: inline-block
            height: 43px
            line-height: 43px
            +agora_b
            color: #231f20
            text-transform: uppercase
            text-decoration: none
            &.is-active
                color: $orange
.article
    padding: 0 10% 
    &__text
        margin-bottom: 55px
        text-align: center
        font-size: 14px
        color: #474747
        line-height: 1.6 
    &__leading
        margin-bottom: 5px
        font-weight: bold
        font-size: 18px
.gallery
    position: relative
    overflow: hidden
    height: 427px
    &:before
        content: ""
        position: absolute
        top: 0px
        left: 0px
        bottom: 0px
        width: 260px
        background: rgba(#fff, 0.7)
        z-index: 2
    &:after
        content: ""
        position: absolute
        top: 0px
        right: 0px
        bottom: 0px
        width: 260px
        background: rgba(#fff, 0.7)
        z-index: 2       
.slider
    position: relative
    margin-left: -379px
    height: 427px 
    width: 1917px                     
.e-pict
    padding: 60px 0 
    text-align: center
.hentry                                   
    &__block
        line-height: 1.6
        color: #474747
        margin-bottom: 75px
        img
            float: left
            margin-right: 40px
            margin-bottom: 40px
        p
            margin-bottom: 15px
    &__leading
        font-size: 18px
        font-weight: bold
        line-height: 1.4
        margin-bottom: 20px
.cols
    +clr
.col40
    width: 40%
    padding-right: 5%
    float: left
.col60
    width: 50%
    padding-right: 5%
    float: left 
    
// history page styles

.history
    font-size: 0
    margin-left: -7%
    &__item
        +clr
        display: inline-block
        vertical-align: top
        width: 26%
        font-size: 14px
        margin-left: 7%
        img
            margin-top: 50px
            float: left
            margin-right: 30px
            margin-bottom: 30px 
        &.long
            width: 93%  
    &__year
        font-size: 36px
        color: $orange
        
// we page styles

.we
    &__title
        text-align: center
        +reforma
        font-size: 28px
        margin-bottom: 45px
        color: $orange
        text-transform: uppercase                         
    &__list
        font-size: 0
        text-align: center
    &__item
        display: inline-block
        vertical-align: top
        width: 250px
        margin: 0 30px 20px  
        font-size: 14px
        text-align: center
        color: #454545
        a
            color: $orange
            &:hover
                text-decoration: none
    &__img
        display: inline-block
        width: 145px
        height: 145px
        margin-bottom: 40px
        border-radius: 50%
        background: #a3a3a3
        overflow: hidden
        text-align: center
        img
            display: inline-block
            min-width: 100%
            min-height: 100%
    &__name
        margin-bottom: 25px
        font-size: 18px
        font-weight: bold   
        color: $orange
    &__text
        margin-bottom: 20px
    &__phone
        color: #1f191a
        font-weight: bold
        
// clients page styles

.client-list
    .h2
        padding-bottom: 0
        &:before
            display: none
    &__item
        position: relative
        display: inline-block
        width: 182px
        height: 182px
        margin: 0 25px
        +r(w1280)
            margin: 0 10px  
        &:hover
            .client-list__hover
                +transform(scale(1))
                +opacity(1)
    &__img
        position: absolute
        top: 0px
        left: 0px
        right: 0px
        bottom: 0px
        text-align: center
        &:before
            content: ""
            display: inline-block
            width: 0
            height: 100%
            vertical-align: middle  
        img
            display: inline-block
            vertical-align: middle
    &__hover
        position: absolute
        top: 0px
        left: 0px
        right: 0px
        bottom: 0px
        padding-top: 70px 
        font-size: 0
        text-align: center
        text-decoration: none
        background: rgba(#ff7908, .9)
        +transition(all 200ms linear)
        +transform(scale(0))
        +opacity(0)
        font-size: 14px
        text-transform: uppercase
        font-weight: bold
        color: #fff
        
// sertificate page styles

.sertificate
    width: 940px 
    margin: 0 auto
    overflow: hidden
    +r(w1280)
        margin: 0 0 0 -54px 
    &__inner
        +clr
        margin-left: -37px
        margin-top: -37px
    &__item
        position: relative
        float: left
        width: 450px
        height: 213px     
        padding-top: 33px
        padding-left: 37px
        margin-bottom: 33px 
        border-top: 2px solid #dbe4e6
        &:hover
            .sertificate__link
                +transform(scale(1))
                +opacity(1)
    &__img
        position: absolute
        top: 37px
        left: 37px
        right: 0px
        bottom: 0px
        font-size: 0
        img
            width: 100%
            height: 100%
    &__link
        position: absolute
        top: 37px
        left: 37px
        right: 0px
        bottom: 0px
        padding-top: 60px 
        +transition(all 300ms linear)
        +transform(scale(0))
        +opacity(0)
        text-decoration: none
        background: rgba(#ff7908, .9)
    &__title
        text-align: center
        text-transform: uppercase
        color: #fff
        line-height: 1.6
        font-weight: bold
        margin-bottom: 30px                    
    &__price
        text-align: center
        font-size: 30px
        color: #fcc6a7 
        font-weight: normal
        
// news page styles

.news-list
    +clr
    margin-left: -3%
    &__item
        float: left
        width: 47%
        margin-bottom: 60px
        margin-left: 3%
        p
            line-height: 1.7
            margin-bottom: 20px         
    &__img
        display: block
        font-size: 0
        margin-bottom: 25px
        img
            width: 100%
    &__link
        display: block
        margin-bottom: 10px
        font-size: 18px
        color: $orange
        font-weight: bold
        &:hover
            text-decoration: none
    &__date
        font-size: 12px
        color: #c5c5c5                     
                
                                               