// about page styles
.breadcrumbs
    padding-bottom: 50px 
    text-align: center
    ul
        font-size: 0
    &__item
        position: relative
        display: inline-block
        margin: 0 14px
        font-size: 14px
        &:before
            content: ""
            position: absolute
            top: 7px
            left: -15px
            width: 4px
            height: 4px
            border-radius: 4px
            background: #cfcfcf
        &:first-child
            &:before
                display: none      
        a
            color: $orange
            font-size: 14px
            text-decoration: none
            &:hover
                text-decoration: underline
.submenu
    text-align: center
    margin-bottom: 50px 
    &__list
        display: inline-block
        font-size: 0
        text-align: center
        border: 3px solid #231f20
    &__item
        display: inline-block
        margin: 0 17px 
        font-size: 14px
        a
            display: inline-block
            height: 43px
            line-height: 43px
            +agora_b
            color: #231f20
            text-transform: uppercase
            text-decoration: none
            &.is-active
                color: $orange
.article
    padding: 0 10% 
    &__text
        margin-bottom: 55px
        text-align: center
        font-size: 14px
        color: #474747
        line-height: 1.6 
    &__leading
        margin-bottom: 5px
        font-weight: bold
        font-size: 18px
.gallery
    position: relative
    overflow: hidden
    height: 427px
    &:before
        content: ""
        position: absolute
        top: 0px
        left: 0px
        bottom: 0px
        width: 260px
        background: rgba(#fff, 0.7)
        z-index: 2
    &:after
        content: ""
        position: absolute
        top: 0px
        right: 0px
        bottom: 0px
        width: 260px
        background: rgba(#fff, 0.7)
        z-index: 2       
.slider
    position: relative
    margin-left: -379px
    height: 427px 
    width: 1917px                     
.e-pict
    padding: 60px 0 
    text-align: center
.hentry                                   
    &__block
        line-height: 1.6
        color: #474747
        margin-bottom: 75px
        img
            float: left
            margin-right: 40px
            margin-bottom: 40px
        p
            margin-bottom: 15px
    &__leading
        font-size: 18px
        font-weight: bold
        line-height: 1.4
        margin-bottom: 20px
.cols
    +clr
.col40
    width: 40%
    padding-right: 5%
    float: left
.col60
    width: 50%
    padding-right: 5%
    float: left 
    
// history page styles

.history
    font-size: 0
    margin-left: -7%
    &__item
        +clr
        display: inline-block
        vertical-align: top
        width: 26%
        font-size: 14px
        margin-left: 7%
        img
            margin-top: 50px
            float: left
            margin-right: 30px
            margin-bottom: 30px 
        &.long
            width: 93%  
    &__year
        font-size: 36px
        color: $orange
        
// we page styles

.we
    &__title
        text-align: center
        +reforma
        font-size: 28px
        margin-bottom: 45px
        color: $orange
        text-transform: uppercase                         
    &__list
        font-size: 0
        text-align: center
    &__item
        display: inline-block
        vertical-align: top
        width: 250px
        margin: 0 30px 20px  
        font-size: 14px
        text-align: center
        color: #454545
        a
            color: $orange
            &:hover
                text-decoration: none
    &__img
        display: inline-block
        width: 145px
        height: 145px
        margin-bottom: 40px
        border-radius: 50%
        background: #a3a3a3
        overflow: hidden
        text-align: center
        img
            display: inline-block
            min-width: 100%
            min-height: 100%
    &__name
        margin-bottom: 25px
        font-size: 18px
        font-weight: bold   
        color: $orange
    &__text
        margin-bottom: 20px
    &__phone
        color: #1f191a
        font-weight: bold
            
                
                                               