// Normally mainpage styles
 
.promo-switcher 
	position: absolute
	bottom: -40px
	left: 50%
	width: 166px
	height: 40px
	margin-left: -83px
	background: #70b0dd
	border-top: 4px solid #6798b5
	font-size: 16px
	color: #fff
	+reforma
	letter-spacing: 1px
	text-transform: uppercase
	&:before
		content: ""
		position: absolute
		bottom: -14px
		left: 0
		+arr(166, 14, #70b0dd, b)   
 
.promo
	&__places
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		li
			position: absolute
			a
				position: relative
				display: block
				width: 23px
				height: 23px
				+border-radius(50%)
				background: #fff
				&:before
					content: "+"
					position: absolute
					top: 0px
					left: 7px
					font-size: 16px
					color: $orange
				&:hover
					background: $orange
					&:before
						color: #fff
	&__place1
		top: 42%
		left: 13%
.push
	height: 600px		